{{!-- https://www.madtakes.com/libs/030.html#google_vignette --}}
<form action="">
    {{#each data.fields }}
    {{!-- from bootstrap --}}
    <div class="mb-3">
        <label for="{{this.name}}" class="form-label">{{this.value}}</label>
        <input type="{{this.type}}" name="{{this.name}}" class="form-control" id="exampleInputEmail1">
    </div>
    {{/each}}
    <button type="submit" class="btn btn-primary">GO MAD</button>

</form>

{{!-- Yesterday, me and 0 of my friends took a trip to the mall. While we were there we saw this really 0 store called
0`s Pets. We saw 0 and 0 0 in the store display. So we had to go inside. They had miniture 0 and 0 little bunnies. We
even got to play with the 0 0 in the 0. I want a/an 0 so much!
--}}