
<div class="custom-banner">
    <h2 class="custom-banner-title">Learn more about build your own backyard zoo</h2>
</div>
<h3>Creating dramatic local landscapes since '25</h3>

<p>Welcome to Build Your Own Backyard Zoo, where your wildest dreams come to life (literally)! Whether you’re an aspiring zookeeper, a daring animal lover, or just looking to spice up your backyard with a touch of the untamed, you’ve come to the right place. Here, we firmly believe every home deserves its own slice of the wild—but maybe keep it on the down-low from your neighbors (and local authorities).

<br><br>From majestic lions to quirky glass frogs, our diverse selection of creatures will make your backyard the talk of the town—or a well-guarded secret. But hey, adventure comes with risks! While we’re happy to supply the exotic additions to your personal menagerie, we’re not responsible for any unlicensed exotic pet ownership fines (or for the occasional escaped lemur).
 After all, life’s more exciting when you’re living on the edge!

<br><br>So, go ahead—embrace the thrill, build your own backyard zoo, and let the adventure begin. Just remember: it’s only illegal if you get caught!</p>

<div class="container home-categories">
    

        <div class="row">
                <h2 class= >we sell the perfect pet for everyone</h2>    
            <div class="col-md-4">
                <a href="/plants/category">
                     <h2>Plants</h2>
                    <img src="/images/plants/sensitive_plant_1.jpg" class="img-fluid gallery" alt="Plants">
                    
                </a>
            </div>
            <div class="col-md-4">
                <a href="/mammals/category">
                     <h2>Mammals</h2>
                    <img src="/images/mammals/elephant.jpg" class="img-fluid gallery" alt="Mammals">
                   
                </a>
            </div>
            <div class="col-md-4">
                <a href="/amphibians/category">
                    <h2>Amphibians</h2>
                    <img src="/images/amphibians/glass_frog.jpg" class="img-fluid gallery" alt="Amphibians">
                </a>
            </div>
        </div>
    </div>
