<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    {{!-- here for owl --}}
    <link rel="stylesheet" href="/owl/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/owl/assets/owl.theme.default.min.css">
    {{!-- overrides --}}
    <link rel="stylesheet" href="/css/miami.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>
  {{!-- include a partial (for nav)--}}
  {{>nav siteName="Miami Travel"}}

    <div class=" container">

    {{{body}}}

    {{>gallery}}

    </div>
    {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
      crossorigin="anonymous"></script>

    {{!-- bootstrap --}}
    <script src="/js/bootstrap.bundle.js"></script>

    <script>
      $(function () {
        $('.owl-packages').owlCarousel({
          loop: true,
          margin: 10,
          nav: true,
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 3
            }
          }
        })
      });
    </script>

    <script src="/owl/owl.carousel.min.js"></script>

    </body>
</html>